module.exports = {
  "url": "www.sks-dev.de",
  "port_http": 80,
  "port_https": 443,
  "ssh_key": "/home/sam/Security/Certificates/letsencrypt/private.key",
  "ssh_cert": "/home/sam/Security/Certificates/letsencrypt/certificate.crt",
  "websites": [
    {
      "name": "Blog",
      "port_http": 9002,
      "port_https": 9003,
      "subdomain": "blog"
    },
    {
      "name": "Accounts",
      "port_http": 9002,
      "port_https": 9003,
      "subdomain": "accounts"
    }
  ]
}
