module.exports = {
  "url": "www.localhost",
  "port_http": 3000,
  "port_https": 3001,
  "ssh_key": "/home/sam/Security/Certificates/private.key",
  "ssh_cert": "/home/sam/Security/Certificates/certificate.crt",
  "websites": [
    {
      "name": "Blog",
      "port_http": 9002,
      "port_https": 9003,
      "subdomain": "blog"
    }
  ]
}
