module.exports = {
  "url": "your-url.de",
  "port_http": 80,
  "port_https": 443,
  "ssl_key": "/path/to/ssl/private.key",
  "ssl_cert": "/path/to/ssl/certificate.crt",
  "websites": [
    {
      "name": "Main Site",
      "port_http": 9002,
      "port_https": 9003,
      "subdomain": "your-url"
    },
    {
      "name": "Blog",
      "port_http": 9002,
      "port_https": 9003,
      "subdomain": "blog"
    },
    {
      "name": "Another Site",
      "port_http": 9002,
      "port_https": 9003,
      "subdomain": "site"
    }
  ]
}
