[Unit]
Description=Master Proxy Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/node /home/sam/Projects/MasterProxyServer/server.js

[Install]
WantedBy=multi-user.target